*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F2F5F9;
}

main {
    width: min(100%, 23.5rem);
    background-color: #FFFFFF;
}

#worker {
    display: flex;
    gap: 1rem
}

.avatar {
    width: 37px;
}

/* Typography */

h1 {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-weight: 600;
}

h2, p {
    font-size: 1rem;
}