*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F2F5F9;
}

main {
    width: min(100%, 23.5rem);
    background-color: #FFFFFF;
    border-radius: 0.7rem;
    overflow: hidden;
}

#hero {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#description {
    margin: 0 2rem 1.5rem;
}

hr {
    border: 0;
    height: 0.0625rem;
    background-color: #F2F5F9;
}

#worker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 2rem;
}

.avatar {
    border-radius: 100%;
    background-color: #F2F5F9;

    height: 45px;
    flex: 0 0 45px; /*Ensures element won't change size*/
    
    display: flex;
    justify-content: center;
    align-items: center; /*Ensures img inside can be centered*/
}

.avatar img {
    border-radius: 100%;
}

/* Typography */

h1 {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-weight: 600;
}

h2, p {
    font-size: 1rem;
}